:root {
  --global-blue1-color: #9FC5F8;
  --global-blue2-color: #4787db;
  --global-green1-color: #B6D7A8;

  --global-title-size: 25px;
  --global-description-size: 17px;

  --global-page-margin-left: 30px;
}

